{% load static %}

 <section id="full_footer">
         <div class="container">
            <div class="row">
               <div class="col-sm-3">
                  <div class="footer_abt flato">
                     <h5>About Rosui</h5>
                     <p>
                        Lorem Ipsum is simply dummy text of theing and typesetting industry. Lorem Ipsum hasn the industry's standard dummy text ever since the 1500s
                     </p>
                     <p>
                        Lorem Ipsum is simply dummy text of theing and typesetting industry. Lorem Ipsum hasn the industry's standard dummy text ever since the 1500s
                     </p>
                  </div>
               </div>
               <div class="col-sm-3">
                  <div class="footer_abt flato">
                     <h5>contact us </h5>
                     <ul>
                        <li>
                           <a href="#">
                           <i class="fa fa-map-marker"></i>
                           <span>
                           1234, Park Street Avenue, NewYork
                           America.
                           </span>
                           </a>
                        </li>
                        <li>
                           <a href="#">
                           <i class="fa fa-envelope"></i>
                           <span>
                           information@adminrosui.com
                           helptotal@adminrosui.com
                           </span>
                           </a>
                        </li>
                        <li>
                           <a href="#">
                           <i class="fa fa-phone"></i>
                           <span>
                           +880 1234 5678     <br>
                           +880 9876 5432
                           </span>
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="col-sm-3">
                  <div class="row footer_abt flato flickr_img">
                     <h5>Filckr Stream </h5>
                     <ul class="list-inline">
                        <li>
                           <a href="#"><img src="{% static 'static_home/images/flickr01.jpg' %}" class="img-responsive" alt=""></a>
                        </li>
                        <li>
                           <a href="#"><img src="{% static 'static_home/images/flickr02.jpg' %}" class="img-responsive" alt=""></a>
                        </li>
                        <li>
                           <a href="#"><img src="{% static 'static_home/images/flickr03.jpg' %}" class="img-responsive" alt=""></a>
                        </li>
                        <li>
                           <a href="#"><img src="{% static 'static_home/images/flickr04.jpg' %}" class="img-responsive" alt=""></a>
                        </li>
                        <li>
                           <a href="#"><img src="{% static 'static_home/images/flickr05.jpg' %}" class="img-responsive" alt=""></a>
                        </li>
                        <li>
                           <a href="#"><img src="{% static 'static_home/images/flickr01.jpg' %}" class="img-responsive" alt=""></a>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="col-sm-3">
                  <div class="footer_abt flato">
                     <h5>About Rosui</h5>
                     <p>
                        Lorem Ipsum is simply dummy text of theing and typesetting industry.
                     </p>
                     <div class="input-group subscribe_inpt">
                        <input type="text" class="form-control" placeholder="Subscribe">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                        <i class="fa fa-send"></i>
                        </button>
                        </span>
                     </div>
                     <!-- /input-group -->
                     <div class="payment">
                        <ul class="list-inline">
                           <li>
                              <a href="#"><img src="{% static 'static_home/images/visa.png' %}" alt="payment"></a>
                           </li>
                           <li>
                              <a href="#"><img src="{% static 'static_home/images/mcard.png' %}" alt="payment"></a>
                           </li>
                           <li>
                              <a href="#"><img src="{% static 'static_home/images/discover.png' %}" alt="payment"></a>
                           </li>
                           <li>
                              <a href="#"><img src="{% static 'static_home/images/american.png' %}" alt="payment"></a>
                           </li>
                           <li>
                              <a href="#"><img src="{% static 'static_home/images/paypal.png' %}" alt="payment"></a>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- full_footer -->
      <footer id="footer">
         <div class="container">
            <div class="row ftr_row">
               <div class="col-sm-6 flato">
                  <p class="ptagm0">Copyright &copy;Themesitem. All rights reserved.</p>
               </div>
               <div class="col-sm-6 text-right">
                  <ul class="list-inline ptagm0">
                     <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                     <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                     <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                     <li><a href="#"><i class="fa fa-behance"></i></a></li>
                     <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  </ul>
               </div>
            </div>
         </div>
      </footer>
      <!--  all js file -->
      <script src="{% static 'static_home/js/jquery-1.12.4.min.js' %}"></script>
      <script src="{% static 'static_home/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'static_home/js/slick.min.js' %}"></script>
      <script src="{% static 'static_home/js/index.js' %}"></script>
      <script src="{% static 'static_home/js/type.js' %}"></script>
      <script src="{% static 'static_home/js/jquery-ui.js' %}"></script>
      <script src="{% static 'static_home/js/jquery.mb.YTPlayer.min.js' %}"></script>
      <script src="{% static 'static_home/js/main.js' %}"></script>
   </body>

<!-- Mirrored from themesitem.com/demos/html/rosui/demo/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 15 May 2019 19:36:42 GMT -->
</html>