{% extends 'backend/backend_index.html' %}
{% load static %}

{% block content %}

    <!-- [ Main Content ] start -->
    <section class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Bootstrap Basic Tables</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
 <!-- [ Hover-table ] start -->
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Product List Table</h5>
<!--                                            <span class="d-block m-t-5">use class <code>table-hover</code> inside table element</span>-->
                    </div>
                    <div class="card-block table-border-style">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>SL.</th>
                                        <th>Product Name</th>
                                        <th>Type</th>
                                        <th>Status</th>
                                        <th>Avilable</th>
                                        <th>Price(INR)</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for prdct in productlist %}
                                    <tr>
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td>{{prdct.name}}</td>
                                        <td>{{prdct.type}}</td>
                                        <td>{{prdct.status}}</td>
                                        <td>{{prdct.availability}}</td>
                                        <td>00.00</td>
                                        <td><a href="/backend/eproduct">EDIT</a> || <a href="#">ADD</a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
           <!-- [ Hover-table ] end -->
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- [ Main Content ] end -->


{% endblock %}
